

<div class="todos">

  <div>
     <form (submit)="addTodo($event)"role="form">
         <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="form-control" placeholder="Your message"name="newTodo">
         <button  type="submit" class="btn btn-danger btn-block"[disabled]="newTodo===''"><i class="fa fa-file-text-o"></i> Write your message</button>
    </form>
  </div>

      </div>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="container bootstrap snippet">
          <div class="row">
          	<ul class="notes">
                  <li>
                      <div class="rotate-2 red-bg">
                          <small>12:03:28 12-04-2014</small>
                          <h4>Messages</h4>
                            <ol>
                                <li *ngFor="let todo of todos; let i=index">

                                <input name="packersOff" type="checkbox" class="strikethrough" value="1" type="checkbox" [(ngModel)]="todo.completed" />
                                <span class="strikeThis" [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
                                <p class="text-warning">  {{todo.text}}
                                <span (click)="deleteTodo(i)" class="delete-icon"></span>
                                </p>
                                </li>
                            </ol>
                            <span (click)="deleteSelectedTodos(i)"><button>Delete Selected</button></span>
                          <a href="#" class="text-danger pull-right"><i class="fa fa-trash-o "></i></a>
                      </div>
                  </li>
      		</ul>
      	</div>
      </div>
