<!-- <p align="right">
<button data-toggle="collapse" data-target="#demo" type="button" class="btn btn-primary" align="right">View leads</button>
</p>
<div id="demo" class="collapse"> -->
  <div class="col-xs-12 col-md-8">

      <ul *ngFor="let employee of employees"class="list-group" style="padding-top:20px; padding-left:30%;">
        <div class="avatar">
  <img src="{{ employee.imgUrl }}" alt="">
</div>
          <li class="list-group-item">Name: {{employee.name}}</li>
          <li class="list-group-item">Status: {{employee.status}}</li>

          <!-- <li class="list-group-item">ImageUrl: {{employee.imgUrl}}</li>
          <li class="list-group-item"><i class="fa fa-phone"></i> Website: {{employee.website.url}}</li>
          <li class="list-group-item"><i class="fa fa-envelope"></i> neha.pradhan@fusemachines.com</li> -->
          <!-- <span *ngIf="employee.twitter"><i class="fa fa-twitter"></i><a href="{{ employee.twitter.url}}">{{employee.twitter.name}}</a></span>
              <span *ngIf="employee.website"><i class="fa fa-chrome"></i><a href="{{ employee.website.url }}">{{employee.website.name}}</a></span -->
          </ul>
        </div>
      <!-- </div> -->
<!--split code-->

<!--
       </div>
    </div>
 </div>
</div>

<p style="padding-top:10px;"></p>
                <div class="bs-callout bs-callout-danger col-xs-12">
                     <h4>Lead Personal information</h4>
                    <p>Test Profile.</p>
                    <p>Prospective Leads Profile</p>
                </div>
                <div class="bs-callout bs-callout-danger">
                     <h4>Moved to connect date</h4>
                    <p>1/1/2017.</p>
                </div>
                <div class="bs-callout bs-callout-danger">
                     <h4>Campaign start status</h4>
                    <ul class="list-group"> <a class="list-group-item inactive-link" href="#">

                        <h4 class="list-group-item-heading">
                           Status:Occupied
                        </h4>

                        <p class="list-group-item-text">
                          Status:Updated
                        </p>
                     </a>
 <a class="list-group-item inactive-link" href="#">

                        <h4 class="list-group-item-heading">Status:Unresolved</h4>

                        <p class="list-group-item-text">

                          Business Logic development

                        </p>
                        <ul>
                          <li>
                            data collection
                           </li>
                             <li>
                             data Analysis
                            </li>
                               </ul>
                             <p></p>
                     </a>
                    </ul>
                </div>
                <div class="bs-callout bs-callout-danger">
                     <h4>Sent Emails</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Lead1</li>
                        <li class="list-group-item">Lead2</li>
                        <li class="list-group-item">Lead3</li>
                        <li class="list-group-item">Lead4</li>
                        <li class="list-group-item">Lead5</li>
                        <li class="list-group-item">Lead6</li>
                    </ul>
                </div>
                <div class="bs-callout bs-callout-danger">

                <div class="bs-callout bs-callout-danger">
                     <h4>Status Tracked</h4>
                    <table class="table table-striped table-responsive ">
                        <thead>
                            <tr>
                                <th>Degree</th>
                                <th>Graduation Year</th>
                                <th>CGPA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Masters in Computer Science and Engineering</td>
                                <td>2014</td>
                                <td>3.50</td>
                            </tr>
                            <tr>
                                <td>BSc. in Computer Science and Engineering</td>
                                <td>2011</td>
                                <td>3.25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- resume -->
