<ul *ngFor="let employee of employees">
  <div class="avatar">
    <img class="rounded-circle img-fluid" src={{employee.imgUrl}} alt="">
  </div>


<!--
      <script>document.write('<base href="' + document.location + '" />');</script>
      <link href="style.css" rel="stylesheet" />
      <script data-semver="1.4.9" src="https://code.angularjs.org/1.4.9/angular.js" data-require="angular.js@1.4.x"></script>
      <script data-require="angular.js@1.4.x" data-semver="1.4.9" src="mainController"></script>
      <script src="app.js"></script>
    </head>

    <body ng-controller="MainCtrl">

      <div class="mainframe">
  	    <div class="navigation">
  		    <ul class="list-group">
  		  	  <li class="list-group-item" ng-click="changeView('apple')">Apple content<span class="status-icon"></span></li>
  		    	<li class="list-group-item" ng-click="changeView('banana')">Banana content<span class="status-icon"></span></li>
  		    	<li class="list-group-item" ng-click="changeView('orange')">Orange Content<span class="status-icon"></span></li>
  		    </ul>
  	    </div>

  	    <div>
  	    	<div ng-show="showApple">{{content}}</div>
  	    	<div ng-show="showBanana">{{content}}</div>
  	    	<div ng-show="showOrange">{{content}}</div>
  	    </div>
    </div> -->

  <!-- </body> -->
